@model IEnumerable<Admin_WebRuou.Models.FeedBackDetails>

@{
    ViewData["Title"] = "NhanXetKhachHang";
}
<div class="most-popular">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-section">
                <a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:30px">Customer Reviews</a>
            </div>
            <br />
            <div>
                <form asp-action="NhanXetKhachHang" asp-controller="KhachHang" enctype="multipart/form-data" method="get" name="form1">
                    <select name="evaluate" style="font-size:14px">
                        <option value="">by Evaluate</option>
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select>
                    <input type="text" name="username" placeholder="By Name" style="font-size:14px;width:300px" />
                    <input type="text" name="phone" placeholder="By Phone" style="font-size:14px;width:150px" />
                    <input type="submit" value="Search" class="btn btn-info btn-sm" style="font-size:14px" />
                </form>
            </div>
            <br />
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6 col-sm-6">
                        <div class="item">
                            <table width="100%" cellpadding="10">
                                <tr>
                                    <td width="20%">
                                        <a href="@Url.Action("XemDanhgia", "KhachHang", new {iddonhang = item.IdDonHang, idsanpham = item.IdSanPham, urlimage=item.Url,idkhachhang = item.IdKhachHang, username=item.UserName,back="NX"})"><img src="~/@item.Url" class="img-fluid" alt=""></a>
                                    </td>
                                    <td with="80%">
                                        <p><a style="color:yellow ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.UserName</a>
                                            <a style="color:#ec6090; font-size:14px">&nbsp;&nbsp; Phone:</a>
                                            <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Phone</a>
                                        </p>
                                        <p>
                                            <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Contents</a>
                                        </p>
                                        <p>
                                            @if (item.Evaluate == 5)
                                            {
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                            }
                                            @if (item.Evaluate == 4)
                                            {
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                            }
                                            @if (item.Evaluate == 3)
                                            {
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                            }
                                            @if (item.Evaluate == 2)
                                            {
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                            }
                                            @if (item.Evaluate == 1)
                                            {
                                                <i class="fa fa-star fa-1" style="color:yellow"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                            }
                                            @if (item.Evaluate == 0)
                                            {
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                                <i class="fa fa-star fa-1" style="color:g"></i>
                                            }
                                        </p>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@*<div class="container">
    <div class="page-content">
        <div class="gaming-library">
            <div class="heading-section">
                <a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:25px">Customer Reviews</a>
            </div>
            <!-------------------------->
            <div>
                <form asp-action="NhanXetKhachHang" asp-controller="KhachHang" enctype="multipart/form-data" method="get" name="form1">
                    <select name="evaluate" style="font-size:14px">
                        <option value="">by Evaluate</option>
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select>
                    <input type="text" name="username" placeholder="By Name" style="font-size:14px;width:300px" />
                    <input type="text" name="phone" placeholder="By Phone" style="font-size:14px;width:150px" />
                    <input type="submit" value="Search" class="btn btn-info btn-sm" style="font-size:14px" />
                </form>
            </div>
            <br />
            <table width="100%" cellpadding="10">
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">
                            <img src="~/@item.Url" class="img-fluid" alt="">
                        </td>
                        <td with="80%">
                            <p><a style="color:yellow ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.UserName</a></p>
                            <p>
                                <a style="color:#ec6090; font-size:14px">Email:</a>
                                <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Email</a>
                            </p>
                            <p>
                                <a style="color:#ec6090; font-size:14px">Phone:</a>
                                <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Phone</a>
                            </p>
                            <p>
                                <a style="color:#ec6090; font-size:14px">Comment:</a>
                                <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Contents</a>
                            </p>
                            <p>
                                <a style="color:#ec6090; font-size:14px">Evaluate:</a>
                                @if (item.Evaluate == 5)
                                {
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                }
                                @if (item.Evaluate == 4)
                                {
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                }
                                @if (item.Evaluate == 3)
                                {
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                }
                                @if (item.Evaluate == 2)
                                {
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                }
                                @if (item.Evaluate == 1)
                                {
                                    <i class="fa fa-star fa-1" style="color:yellow"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                }
                                @if (item.Evaluate == 0)
                                {
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:gainsboro"></i>
                                    <i class="fa fa-star fa-1" style="color:g"></i>
                                }
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr width="100%" size="5px" align="center" color="gray" />
                        </td>
                    </tr>
                }
            </table>
            <!-------------------------->
        </div>
    </div>
</div>
*@