@model IEnumerable<Admin_WebRuou.Models.DetailsDonHang>

@{
    ViewData["Title"] = "ThongkeSPBanra";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="gaming-library">
                    <div class="col-lg-12">
                        <center>
                            <div class="heading-section">
                                <a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:25px">List Number of products sold</a>
                                <p><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:18px">@ViewBag.ngaybc</a></p>
                            </div>
                            <br />
                            <form asp-action="ThongkeSPBanra" asp-controller="KhachHang" enctype="multipart/form-data" method="get" name="form1">
                                <div>
                                    <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">From</a>
                                    <input type="date" name="tungay" style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px" />
                                    <a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">To</a>
                                    <input type="date" name="denngay" style="color:black ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px" />
                                    <input type="submit" value="Search" class="btn btn-info btn-sm" style="font-size:14px" />
                                </div>
                            </form>
                            <br />
                        </center>
                        <table width="100%" cellpadding="5" align="center">
                            <tr style="background-color:gray">
                                <th>
                                    <div>
                                        <ul>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Numerical order</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <ul>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Product's name</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <ul>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Sales number</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <ul>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Unit price</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <ui>
                                            <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px">Into money</a></li>
                                        </ui>
                                    </div>
                                </th>
                            </tr>
                            @if (true)
                            {
                                int dem = 0;
                                foreach (var item in Model)
                                {
                                    dem++;
                                    <tr>
                                        <td align="center">
                                            <div>
                                                <ui>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@dem</a></li>
                                                </ui>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.Name</a></li>
                                                </ui>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.SoLuong.ToString("N").Substring(0,@item.SoLuong.ToString("N").Length-3)</a></li>
                                                </ui>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ui>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.GiaTien.ToString("N").Substring(0,@item.GiaTien.ToString("N").Length-3)</a></li>
                                                </ui>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <ul>
                                                    <li><a style="color:white ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@item.ThanhTien.ToString("N").Substring(0,@item.ThanhTien.ToString("N").Length-3)</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td colspan="3">
                                </td>
                                <td>
                                    <div>
                                        <ul>
                                            <li><a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">Total</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <ul>
                                            <li><a style="color:#ec6090 ; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px">@ViewBag.Tonggiatri</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    //form1.tungay.value = "@ViewBag.tungay";
    //form1.denngay.value = "@ViewBag.denngay";
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
