@model IEnumerable<Admin_WebRuou.Models.User>

@{
    ViewData["Title"] = "ListUser";
}
<div class="container">
    <div class="page-content">
        <div class="heading-section">
            <h4>Admin User</h4>
        </div>
        <!-------------------------->
        <div>
            <form asp-action="ListUser" asp-controller="User">
                <a href="@Url.Action("Administration", "Home")">
                    <span class="btn btn-success btn-sm" style="font-size:14px">Back</span>
                </a>
                @if (ViewBag.UserName_ == "Administrator" || ViewBag.UserName_ == "ADMINISTRATOR")
                {
                    <a href="@Url.Action("Create", "User")">
                        <span class="btn btn-primary btn-sm" style="font-size:14px">Create new</span>
                    </a>
                }
                <input type="text" name="varLocal" style="font-size:14px" />
                <input type="submit" value="Search" class="btn btn-info btn-sm" style="font-size:14px" />
            </form>
        </div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a style="font-size:14px;color:white">Id</a>
                    </th>
                    <th>
                        <a style="font-size:14px;color:white">UserName</a>
                    </th>
                    <th>
                        <a style="font-size:14px;color:white">Email</a>
                    </th>
                    <th>
                        <a style="font-size:14px;color:white">Status</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a style="font-size:14px;color:white">@item.Id</a>
                        </td>
                        <td>
                            <a style="font-size:14px;color:white">@item.UserName</a>
                        </td>
                        <td>
                            <a style="font-size:14px;color:white">@item.Email</a>
                        </td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <a style="font-size:14px;color:white">Active</a>
                            }
                            else
                            {
                                <a style="font-size:14px;color:white">Inactive</a>
                            }
                        </td>
                        <td>
                            @if (item.UserName == "Administrator" || item.UserName == "ADMINISTRATOR")
                            {
                                @if (ViewBag.UserName_ == "Administrator" || ViewBag.UserName_ == "ADMINISTRATOR")
                                {
                                    <a href="@Url.Action("Edit", "User", new {varLocal = item.Id })">
                                        <span class="btn btn-warning btn-sm" style="font-size:14px">Edit</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-outline-primary btn-sm" style="font-size:14px">Edit</a>
                                }
                                <a href="#" class="btn btn-outline-primary btn-sm" style="font-size:14px">Delete</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Edit", "User", new {varLocal = item.Id })">
                                    <span class="btn btn-warning btn-sm" style="font-size:14px">Edit</span>
                                </a>
                                <a href="@Url.Action("Delete", "User", new {varLocal = item.Id })">
                                    <span class="btn btn-danger btn-sm" style="font-size:14px">Delete</span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-------------------------->
    </div>
</div>
