<!-- ***** Most Popular Start ***** -->
<div class="most-popular">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4><em>Những loại rượu được ưa chuộng nhất</em> Hiện nay</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Belvedere"})">
                            <img src="~/assets/images/ruou-vodka.png" alt="">
                        </a>
                        <h4>BELVEDERE<br><span>Rượu vodka</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Belvedere"})">
                            <img src="~/assets/images/KWV5 Year Old.png" alt="">
                        </a>
                        <h4>KWV5 Year Old<br><span>Rượu vodka</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>*@
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Bladnoch 1993"})">
                            <img src="~/assets/images/bladnoch1993.jpg" alt="">
                        </a>
                        <h4>Bladnoch 1993<br><span>Rượu Whiskey</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Bladnoch 1993"})">
                            <img src="~/assets/images/Smirnoff 1818.png" alt="">
                        </a>
                        <h4>Smirnoff 1818<br><span>Rượu vodka</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>*@

                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Nomad"})">
                            <img src="~/assets/images/nomad.jpg" alt="">
                        </a>
                        <h4>NOMAD<br><span>Rượu Whiskey</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Martell XO"})">
                            <img src="~/assets/images/martellxo.png" alt="">
                        </a>
                        <h4>Martell XO<br><span>Rượu Martell XO</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="item inner-item">
                                    <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="DENIKOFF XANH"})">
                                        <img src="~/assets/images/denikoffxanh.jpg" alt="">
                                    </a>
                                    <h4>DENIKOFF XANH<br><span>Rượu vodka</span></h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i> 4.8</li>
                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="item">
                                    <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="RED DENIKOFF"})">
                                        <img src="~/assets/images/denikoff.jpg" alt="">
                                    </a>
                                    <h4>RED DENIKOFF<br><span>Rượu vodka</span></h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i> 4.8</li>
                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="Jack Daniels"})">
                            <img src="~/assets/images/jackdaniels.jpg" alt="">
                        </a>
                        <h4>Jack Daniel's<br><span>Rượu Whiskey</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <a href="@Url.Action("ListSanPham", "KhachHang",new {varLocal="BULLEIT 95 RYE"})">
                            <img src="~/assets/images/bulleit95rye.jpg" alt="">
                        </a>
                        <h4>BULLEIT 95 RYE<br><span>Rượu Whiskey</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i> 4.8</li>
                            <li><i class="fa fa-download"></i> 2.3M</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-button">
                        <a href="@Url.Action("ListSanPham", "KhachHang")">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Most Popular End ***** -->
<!-- ***** Gaming Library Start ***** -->
<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Đơn hàng bạn đã </em>mua</h4>
        </div>
        <br />
        @if (string.IsNullOrEmpty(ViewBag.Id_))
        {
        }
        else
        {
            int dem = 0;
            @foreach (var item in Model)
            {
                dem++;
                if (dem <= 3)
                {
                    <div class="item">
                        <ul>
                            <li><img src="~/@item.Url" alt="" class="templatemo-item"></li>
                            @*                                            <li><h4>Mã đơn</h4><span style="color:white">@item.Id</span></li>*@
                            <li><h4>Ngày đặt</h4><span style="color:white">@item.NgayDat.Substring(0,10)</span></li>

                            <li><h4>Ngày giao</h4><span style="color:white">@item.NgayGiao.Substring(0,10)</span></li>

                            <li><h4>Số lượng</h4><span style="color:white">@item.SoLuong</span></li>

                            <li><h4>Tổng tiền</h4><span style="color:#ec6090">@item.TongTien.ToString("N").Substring(0,@item.TongTien.ToString("N").Length-3) VND</span></li>

                            <li><div class="main-border-button"><a href="@Url.Action("XemChiTieDonHang", "KhachHang", new {varLocal = item.Id})">Detail</a></div></li>
                        </ul>
                    </div>
                }
            }
        }
    </div>
    <div class="col-lg-12">
        <div class="main-button">
            @if (string.IsNullOrEmpty(ViewBag.Id_))
            {
                <a href="@Url.Action("Login", "KhachHang")">Vui lòng đăng nhập để xem đơn hàng riêng cho bạn!!!</a>
            }
            else
            {
                <a href="@Url.Action("XemDonHang", "KhachHang",new {trangthaiGH=2})">Nhiều hơn</a>
            }
        </div>
    </div>
</div>
<!-- ***** Gaming Library End ***** -->
